

/*  CSS for the Theme Options Panel Framework */

#topf-container {
	float: left;
	width: 750px;
	padding: 4px 10px;
/*	border-right: 1px dotted #999;*/
}

#topf-js-warning {
	color: red;
	font-weight: bold;
	font-size: 14px;
}

.topf-save-save {
	background: url(../images/accept.png) 20px 50% no-repeat;
	padding: 30px 30px 30px 70px;
}

.topf-save-fail {
	background: url(../images/wrench.png) 20px 50% no-repeat;
	padding: 30px 30px 30px 70px;
}

.topf-save-reset {
	background: url(../images/warning.png) 20px 50% no-repeat;
	padding: 30px 30px 30px 70px;
}

.topf-save-popup {
	position: absolute;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;
	background: rgba(0, 0, 0, 0.4);
	color: #fff;
	font-size: 24px;
	text-align: center;
	display: none
}

.updated, .error {
	text-align: center;
}

#topf-header {
	height: 50px;
	margin-top: 10px;
	padding: 0px;
	padding-bottom: 10px;

	background: #cfdfe9; /* fallback color */
    background:-moz-linear-gradient(bottom,  #cfdfe9,  #eff8ff);
    background:-webkit-gradient(linear, left bottom, left top, from(#cfdfe9), to(#eff8ff));

	border: 1px solid #b0c8d7;
	border-top-left-radius: 6px;
	-moz-border-radius-topleft: 6px;
	-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	border-top-right-radius: 6px;
	-moz-border-radius-topright: 6px;
}

#topf-header .logo {
	float: left;
	margin: 0px 10px;
}

#topf-header h2 {
	float: left;
	margin-top: 0px;
	padding-top: 22px;
	margin-left: 10px;
}

#topf-content {
	float: left;
	padding: 0 0 0 20px;
	border-left: 1px solid #b0c8d7;
	margin-left: -1px;
}

#topf-content .form-table {
	margin-bottom: 0px;
}

#topf-content .form-table tr {
	border-top: 1px dotted #b0c8d7;
}

#topf-content .form-table th {
	padding: 20px 10px 10px 10px;
	width: 150px;
	color: #444
}

#topf-content .form-table td {
	padding: 15px 10px 10px 10px;
	width: 540px;
}

#topf-content h3 {
	margin-top: 20px;
	font-size: 14px;
}

.topf-section {
}

.topf-option {
}

.topf-controls {
	font-size: 11px;
}

.topf-input {
}

.topf-radio-img-img {
	border: 3px solid #fff;
	margin: 0 10px 0px 0;
	cursor: pointer;
	float: left;
}

.topf-radio-img-selected {
	border: 3px solid #ccc
}

.topf-radio-img-img:hover {
	opacity: .6;
}

.topf-controls textarea {
	font-size: 11px;
	width: 100%;
}

.topf-controls input[type="text"] {
	font-size: 11px;
}

.topf-controls .topf-upload-button {
	margin: 3px 5px 3px;
	padding: 2px 10px;
	font-size: 11px;
}

.topf-input-select-wide {
	width: 150px;
}

.topf-radio {
	margin-right: 5px;
}

.topf-checkbox {
	margin-right: 2px;
}

.topf-controls label {
	margin-right: 15px;
}

.topf-typography {
	margin-right: 5px;
	padding: 0px 5px;
}

.topf-background-label, .topf-typography-label {
	float: left;
	width: 120px;
	margin: 2px 0 10px 0;
}

.topf-background-radio-label, .topf-typography-radio-label {
	margin-right: 10px;
}

.topf-border {
	margin-right: 5px;
	padding: 0px 5px;
}

.topf-explain {
	margin: 5px 0px;
	padding: 0px;
	font-size: 11px;
	line-height: 15px;
	color: #999999;
}

.warning {
	background: #ffeeee no-repeat 10px center;
	border: solid #dfbfbf;
	border-width: 0px 1px 1px 1px;
	color: #333;
	font-weight: bold;
	padding: 10px;
	text-align: center;
}

.topf-notice {
	background: #ffd1d1;
	border: 1px solid #DFA8A7;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	text-align: center;
	margin-bottom: 15px;
}

.topf-submit-buttons {
	float: left;
	width: 750px;
	padding: 20px 0px;
	text-align: center;
	border-top: 1px dotted #b0c8d7;
}

.topf-submit-buttons input {
	padding: 5px 15px;
}


/* slider root element */
.slider {
	display: inline-block;
	background:#cfdfe9 url(../../../../../wp-admin/images/menu-bits-vs.gif?ver=20101102) repeat-x 0 0;
	height:9px;
	position:relative;
	cursor:pointer;
	border:1px solid #b0c8d7;
	width:300px;
	margin-top:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-moz-box-shadow:inset 0 0 8px #000;
}

/* progress bar (enabled with progress: true) */
.progress {
	height:9px;
	background-color:#C5FF00;
	display:none;
	opacity:0.6;
}

/* drag handle */
.handle {
	background:#fff url(../../../../../wp-admin/images/menu-bits-vs.gif?ver=20101102) repeat-x 0 0;
	height:20px;
	width:20px;
	top:-8px;
	position:absolute;
	display:block;
	margin-top:1px;
	border:1px solid #b0c8d7;
	cursor:move;
	-moz-box-shadow:0 0 6px #b0c8d7;
	-webkit-box-shadow:0 0 6px #b0c8d7;
	-moz-border-radius:14px;
	-webkit-border-radius:14px;

}

/* the input field */
.range {
	border:1px solid #b0c8d7;
	font-size:14px;
	font-style: normal;
	margin:0 0 10px 10px;
	padding:3px 0px;
	text-align:center;
	width:50px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}


/**
 *	jQuery Tools Tabs
*/

.topf-panes {
	border-left: 1px solid #b0c8d7;
}
/* initially all panes are hidden */
.topf-panes .pane {
	display:none;
}

/* root element for tabs  */
.topf-tabs {
	background: #EFF8FF;
	list-style:none;
	margin:0 !important;
	padding:0px;
	padding-top: 10px;
	height:20px;
	border: 1px solid #b0c8d7;
}

/* single tab */
.topf-tabs li {
	float:left;
	text-indent:0;
	padding:0;
	margin:0 !important;
	list-style-image:none !important;
}

.topf-tabs a {
    margin:-4px 0 0 0;
	background: transparent;
	padding:0px 0px;
	padding-top: 4px;
	font-size:14px;
	display:block;
	height: 20px;
	line-height:20px;
	min-width: 100px;
	text-align:center;
	text-decoration:none;
	color: #174f69;
}

.topf-tabs a:active {
	outline:none;
}

.topf-tabs a:hover {
	color:#d54e21;
}

.topf-tabs .current, .topf-tabs .current:hover, .topf-tabs li.current a {
    margin:-5px 0 0 0;
    border-top: #b0c8d7 1px solid;
    border-left: #b0c8d7 1px solid;
    border-right: #b0c8d7 1px solid;
    border-bottom: 1px solid #EFF8FF;
    color: #464646;
	cursor:default !important;
	border-top-left-radius: 6px;
	-moz-border-radius-topleft: 6px;
	-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	border-top-right-radius: 6px;
	-moz-border-radius-topright: 6px;
}

